.payment-container {
  height: 100vh !important;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
}

.id-order {
  border-radius: 1px !important;
  font-size: smaller !important;
}

.p-section-left {
  height: auto;
}

.p-section-right {
  height: fit-content;
}

.p-container-right {
  height: 100% !important;
}

.p-section-left .list-item {
  height: 35vh;
  padding: 10px;
  border-radius: unset;
  background: #fbffff;
  overflow: auto;
}

.info-d {
  max-width: 60px;
  font-size: 12px;
}

.btn-input-additional {
  border: 1px solid var(--primary-200);
  border-radius: 8px;
  color: var(--primary-200);
  min-width: 100px;
  font-size: 12px;
  line-height: 0px;
  height: 35px;
}

.btn-input-additional.active {
  background: #e6efef !important;
}

.btn-input-additional span {
  font-size: 12px;
  position: relative;
  bottom: 5px;
}

.btn-checkout {
  background-color: #045b62;
  color: white;
  min-width: 150px;
}

.btn-reset {
  border: 1px solid var(--primary-200);
  color: var(--primary-200);
  min-width: 150px;
}

.text-span-small {
  font-size: 12px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  height: 30px;
  width: 100vw;
  background: yellow;
}

/* TAB ICON */
.example-tab-icon {
  margin-right: 8px;
}

.master-payment-page {
  height: auto;
  min-height: 350px;
  max-height: 350px;
  overflow: auto;
}

.slide-h2 {
  margin: 10px;
}

.slide-section {
  display: flex;
  align-content: center;
  align-items: center;
  /* height: 60px; */
}

.slide-margin {
  height: 39px;
}

.text-box-list {
  padding: 10px 0px;
  border-bottom: 1px solid #f1f1f1;
}

.grid-row {
  display: grid;
  grid-template-rows: 20% 80%;
}

.grid-row-2 {
  display: grid;
  /* grid-template-rows: 50% 50%; */
}

.h-auto {
  height: auto !important;
}

/* .p-round-10 {
  padding: 10px 10px !important;
} */

.f-super-bold {
  font-weight: 900 !important;
}

.box-info {
  background: #e6efef;
  border-radius: 8px;
  padding: 10px;
  font-size: 12px;
  font-weight: 600;
}

/* ================================== */
/*               CASH CSS             */
/* ================================== */

.box-input {
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  background: #edeef1;
  align-items: center;
}

.input-cash {
  width: inherit;
  font-size: x-large;
  background: #ffffff;
  /* Neutral / 200 */
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  color: #1e1e1e;
  font-weight: 900;
}

.btn-shortcut-cash {
  background: #fff;
  color: #1e1e1e;
  font-weight: 700;
  margin-right: 5px;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  align-items: center;
  display: flex;
}

.section-btn-shortcut {
  padding-right: 1.4rem !important;
}

.btn-s-cash-delete {
  background-color: #b41d1d;
  color: white;
  border-radius: 5px;
  margin-right: 5px;
}

.checkout-card {
  padding: 16px !important;
  /* position: sticky;
  bottom: 126px;
  background: white;
  height: fit-content;
  box-shadow: none !important;
  z-index: 9; */
}

.-section-panel-info {
  background: transparent;
}

.panel-left {
  /* background-color: aquamarine; */
  padding-right: 10px;
  border-right: 1px solid #f1f1f1;
}

.panel-right {
  /* background-color: beige; */
  padding-left: 10px;
}

.box-panel {
  padding: 10px 0;
}

.span-size-16 {
  font-size: 16px;
}

.box-x-container {
  box-sizing: border-box;
  /* Auto layout */
  /* display: flex; */
  flex-direction: row;
  /* align-items: center; */
  /* padding: 10px 16px; */
  gap: 8px;
  isolation: isolate;
  /* Neutral/100 */
  background: #ffffff;
  /* Neutral / 200 */
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  /* Inside auto layout */
  order: 1;
  align-self: stretch;
}

.btn-opts {
  background: #e6efef;
  border-radius: 6px 7px 7px 6px;
  color: var(--primary-200);
  min-width: 100px;
  font-weight: 600;
  font-size: 12px;
}

.text-mute {
  color: #989898;
  font-size: 12px;
  padding: 0px 10px;
}

.on-text-danger {
  color: var(--error-color);
  font-weight: 800;
}

.text-inline-a {
  width: 180px;
  padding: 0px 10px;
  font-size: 12px;
}

.box-active {
  background: #e6efef;
  border: 1px solid #045b62;
  color: #045b62;
  font-weight: 700;
}
/* ================================== */
/*               DEBIT CSS            */
/* ================================== */

.img-payment-logo {
  width: 70px;
  justify-self: flex-start;
}

.grid {
  display: grid;
  justify-items: center;
}

.grid-left {
  display: grid;
  justify-items: start;
}

.input-radio-group {
  display: flex;
  flex-direction: column;
  height: 35vh;
  align-items: flex-start;
  overflow: auto;
  flex-grow: 1;
  /* overflow-x: scroll; */
  /* overflow-y: hidden; */
  white-space: nowrap;
  gap: 5px;
}

.form-payment {
  display: flex;
  flex-direction: column;
  height: 35vh;
  /* align-items: flex-start; */
  overflow: auto;
  flex-grow: 1;
  /* overflow-x: scroll; */
  /* overflow-y: hidden; */
  white-space: nowrap;
}

.input-decorate-payment {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  padding: 0px 10px;
  font-size: 12px;
}

.text-small-title {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #045b62;
  font-weight: 800;
}

.text-mute-small {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  /* Neutral/300 */
  color: #989898;
}

/* .mat-radio-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
} */

.input-radio-button {
  margin: 5px;
  width: 100%;
}

.text-bank {
  font-size: 11px;
  width: 100%;
}

.mat-radio-label {
  width: inherit !important;
}

/* .payment-type {
  background: #e9f5f5;
  padding: 10px;
  text-align: center;
} */

.owl-category-peyment {
  background: white;
  padding: 15px 10px;
  width: fit-content;
  border-radius: 10px;
}
.bg-active {
  background-color: #045b62;
  color: white;
}

.wrapper {
  position: relative;
  height: 100vh;
}

owl-carousel-o {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
}

.owl-item {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

* Feel free to change duration */ .animated {
  -webkit-animation-duration: 1000 ms;
  animation-duration: 1000 ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* .owl-animated-out - only for current item */
/* This is very important class. Use z-index if you want move Out item above In item */
.owl-animated-out {
  z-index: 1;
}
/* .owl-animated-in - only for upcoming item
/* This is very important class. Use z-index if you want move In item above Out item */
.owl-animated-in {
  z-index: 0;
}
/* .fadeOut is style taken from Animation.css and this is how it looks in owl.carousel.css:  */
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ================================== */
/*               EWALLET CSS          */
/* ================================== */
.card-upload {
  height: 30vh;
  margin: 10px 0px;
  background: transparent;
  box-shadow: none;
  border: 1px dashed #045b62;
}

.img-proof {
  width: 100%;
}

.icon-take {
  width: 20px;
  line-height: 10px;
  margin: 0px 10px;
}

.w-inherith {
  width: inherit;
}

.deposit-active {
  background: #fdeec8;
  border-radius: 4px;
  border: 1px solid #efac00;
  padding: 8px;
}

::-webkit-scrollbar {
  display: none;
}
