<div class="container-fluid payment-container p-0">
    <div class="d-flex card-box-header">
        <button class="" (click)="location.back()" mat-icon-button>
            <mat-icon svgIcon="back"></mat-icon>
        </button>
        <p class="mb-0 text-title">Pisah Tagihan</p>
    </div>
    <mat-progress-bar *ngIf="checkoutRepo.isLoading" mode="indeterminate"></mat-progress-bar>
    <div class="d-flex h-100">
        <!-- LEFT SIDE -->
        <div class="col-4 px-2 p-section-left grid-row">

            <!-- CARD ORDER HEAD -->
            <div class="box-main">
                <p class="mb-0 title-e">Info Pesanan</p>
                <div class="col d-flex">
                    <mat-icon class="icon-temp" svgIcon="bell"></mat-icon>
                    <p class="text-temp mb-0">ID Order :
                        <span class="fw-bold">
                            #{{ checkoutRepo.checkout.tempSalesId }}
                        </span>
                    </p>
                </div>
                <div class="col d-flex">
                    <mat-icon class="icon-temp" svgIcon="user"></mat-icon>
                    <p class="text-temp mb-0">Nama :
                        <span class="fw-bold">
                            {{ checkoutRepo.checkout.name !== ''? checkoutRepo.checkout.name : 'Pelanggan' }}
                        </span>
                    </p>
                </div>
                <div class="col d-flex">
                    <mat-icon class="icon-temp" svgIcon="table"></mat-icon>
                    <p class="text-temp mb-0">Tipe :
                        <span class="fw-bold">
                            {{ checkoutRepo.checkout.isDineIn? 'Makan ditempat' : 'Bawa pulang' }}
                        </span>
                    </p>
                </div>
            </div>

            <div class="box-main h-auto" h>
                <p class="mb-0 title-e">Rincian Pesanan</p>
                <!-- CARD LIST ITEM -->
                <ol class="list-group list-drop" style="height: 200px;">
                    <ng-container *ngFor="let item of checkoutRepo.lines; let idx = index">
                        <div class="d-flex w-100 text-box-list">
                            <div class="col-1 text-list">
                                {{ item.amount }}
                            </div>
                            <div class="me-auto">
                                <div class="text-list">{{ item.name }}
                                </div>
                                <!-- Content for list item -->
                            </div>
                            <span class="text-dark text-list">{{ item.totalPrice | rupiah }}</span>
                        </div>
                    </ng-container>
                </ol>

                <!-- CARD LIST TOTAL -->
                <div class="d-flex w-100 text-box-list">
                    <div class="d-flex text-list justify-content-between w-100 p-round-10 f-super-bold">
                        Sub Total <span class="col text-end">{{ checkoutRepo.checkout.subTotal | rupiah }}</span>
                    </div>
                </div>

                <!-- DISCOUNT -->
                <li class="list-group-item d-flex justify-content-between align-items-center mb-2 mt-1">
                    <button [class.active]="checkoutRepo.discount" (click)="openDiscount()" mat-button
                        class="btn-input-additional">
                        <mat-icon class="icon-temp" svgIcon="discount"></mat-icon><span
                            class="text-span-small">Diskon</span>
                    </button>
                    <span #tooltip="matTooltip" matTooltip="{{checkoutRepo.discount.name}}"
                        [matTooltipPosition]="'above'" matTooltipHideDelay="100" *ngIf="checkoutRepo.discount"
                        class="text-truncate info-d">{{ checkoutRepo.discount.name
                        }}</span>
                    <div class="d-flex justify-content-end align-items-center  mb-1">
                        <span class="text-span-small fw-bold">{{ checkoutRepo.checkout.discount | rupiah }}</span>
                        <mat-icon svgIcon="x" (click)="checkoutRepo.clear_discount_tax_service('DISCOUNT')"
                            class="cursor-pointer">
                        </mat-icon>
                    </div>
                </li>

                <!-- SERVICE -->
                <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                    <button [class.active]="checkoutRepo.service" (click)="openAdditional('FEE')" mat-button
                        class="btn-input-additional">
                        <mat-icon class="icon-temp" svgIcon="service"></mat-icon><span
                            class="text-span-small">Service</span>
                    </button>
                    <span #tooltip="matTooltip" matTooltip="{{checkoutRepo.service.key}}" [matTooltipPosition]="'above'"
                        matTooltipHideDelay="100" *ngIf="checkoutRepo.service" class="text-truncate info-d">{{
                        checkoutRepo.service.key
                        }}</span>
                    <div class="d-flex justify-content-end align-items-center">
                        <span class="text-span-small fw-bold">{{ checkoutRepo.checkout.service | rupiah }}</span>
                        <mat-icon svgIcon="x" (click)="checkoutRepo.clear_discount_tax_service('FEE')"
                            class="cursor-pointer">
                        </mat-icon>
                    </div>
                </li>

                <!-- TAX -->
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <button [class.active]="checkobjtax" (click)="openAdditional('TAX')" mat-button
                        class="btn-input-additional">
                        <mat-icon class="icon-temp" svgIcon="tax"></mat-icon><span class="text-span-small">Pajak</span>
                    </button>
                    <span #tooltip="matTooltip" matTooltip="{{checkoutRepo.tax.key}} {{ checkoutRepo.tax.value }}%"
                        [matTooltipPosition]="'above'" matTooltipHideDelay="100" *ngIf="checkoutRepo.tax"
                        class="text-truncate info-d">{{
                        checkoutRepo.tax.key }} {{
                        checkoutRepo.tax.value
                        }} <ng-container *ngIf="checkobjtax">%</ng-container></span>
                    <div class="d-flex justify-content-end align-items-center">
                        <span class="text-span-small fw-bold">{{ checkoutRepo.checkout.tax | rupiah }}</span>
                        <mat-icon svgIcon="x" (click)="checkoutRepo.clear_discount_tax_service('TAX')"
                            class="cursor-pointer">
                        </mat-icon>
                    </div>
                </li>

                <!-- DEPOSIT -->
                <div class="d-flex w-100 text-box-list">
                    <div [class.deposit-active]="checkoutRepo.reservation"
                        class="d-flex text-list justify-content-between w-100 p-round-10 f-super-bold title-e">
                        {{ checkoutRepo.reservation?.note?? 'Deposit' }} <span
                            class="col text-end f-super-bold title-e">{{
                            checkoutRepo.checkout.deposit | rupiah
                            }}</span>
                    </div>
                </div>

                <!-- TOTAL -->
                <div class="d-flex w-100 text-box-list">
                    <div class="d-flex text-list justify-content-between w-100 p-round-10 f-super-bold title-e">
                        Total <span class="col text-end f-super-bold title-e">{{ checkoutRepo.checkout.total | rupiah
                            }}</span>
                    </div>
                </div>

            </div>
        </div>
        <!-- RIGHT SIDE -->
        <div class="col-8 px-2 p-section-right grid-row-2">

            <div class="bg-white box-main">
                <!-- type: 'CASH' | 'DEBIT' | 'EWALLET' | 'OTHER' | 'TRANSFER' -->
                <mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)" class="master-payment-page"
                    animationDuration="0ms">
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon svgIcon="wallet-cash" class="example-tab-icon"></mat-icon>
                            Tunai
                        </ng-template>
                        <cash-payment></cash-payment>
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon svgIcon="debit" class="example-tab-icon"></mat-icon>
                            Debit
                        </ng-template>
                        <debit-payment></debit-payment>
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon svgIcon="ewallet" class="example-tab-icon"></mat-icon>
                            E-Wallet
                        </ng-template>
                        <e-wallet-payment></e-wallet-payment>
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon svgIcon="receipt" class="example-tab-icon"></mat-icon>
                            Lainnya
                        </ng-template>
                        <other-payment></other-payment>
                    </mat-tab>

                    <!-- <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">account_balance</mat-icon>
                            Transfer
                        </ng-template>
                        <transfer-payment></transfer-payment>
                    </mat-tab> -->
                </mat-tab-group>
            </div>

            <mat-card class="checkout-card p-0 box-main">
                <!-- <p class="box-info">Pastikan pembayaran sesuai dengan tagihan.</p> -->
                <div class="d-flex -section-panel-info">
                    <div class="col panel-left">
                        <p class="mb-0 title-e">Rincian Tagihan Pembayaran</p>
                        <div class="d-flex w-100 box-panel">
                            <div class="d-flex justify-content-between w-100">
                                Total tagihan <span class="col text-end f-super-bold span-size-16">{{
                                    checkoutRepo.checkout.total | rupiah }}</span>
                            </div>
                        </div>
                        <div class="d-flex w-100 box-panel">
                            <div class="d-flex justify-content-between w-100">
                                Uang Kembali (Tunai) <span class="col text-end f-super-bold span-size-16">{{
                                    change | rupiah
                                    }}</span>
                            </div>
                        </div>
                        <div class="d-flex w-100 box-panel">
                            <div class="d-flex justify-content-between w-100">
                                Biaya Admin <span class="col text-end f-super-bold span-size-16">
                                    {{checkoutRepo.checkout.adminFee !== null?
                                    checkoutRepo.checkout.adminFee : 0}}%
                                </span>
                            </div>
                        </div>
                        <!-- AKAN DIGUNAKAN JIKA DIPERLUKAN -->
                        <!-- <section class="slide-section">
                            <mat-slide-toggle class="slide-margin" [color]="color" [checked]="checkoutRepo.charge_admin"
                                [disabled]="disabled" (change)="toggleIsCharge($event)">
                                Kenakan Biaya Cas
                            </mat-slide-toggle>
                        </section> -->
                        <section class="slide-section">
                            <mat-slide-toggle class="slide-margin" [color]="color" [checked]="checkoutRepo.isTax"
                                [disabled]="disabled" (change)="toggleIsTax($event)">
                                {{ checkoutRepo.checkout.isTax ? 'Pajak Pembukuan Aktif' : 'Aktifkan Pajak Pembukuan'}}
                            </mat-slide-toggle>
                        </section>
                    </div>
                    <div class="col panel-right">
                        <p class="mb-0 title-e">Pilihan Lainnya</p>

                        <p class="mb-0 text-label">Pelanggan (Opsional)</p>
                        <div [class.box-active]="checkoutRepo.in_customer"
                            class="d-flex justify-content-between align-items-center mb-2 box-x-container">
                            <p [ngClass]="checkoutRepo.in_customer? 'text-inline-a' : 'text-mute'"
                                class="mb-0 text-1-line">{{ checkoutRepo.in_customer ?
                                checkoutRepo.in_customer.name : 'Pilih pelanggan' }}</p>
                            <button (click)="checkoutRepo.in_customer? checkoutRepo.clear_customer() :  openCustomer()"
                                mat-button class="btn-opts" [class.on-text-danger]="checkoutRepo.in_customer">{{
                                checkoutRepo.in_customer? 'Hapus' : 'Pilih' }}</button>
                        </div>

                        <p class="mb-0 text-label">Nominal Deposit ( Opsional)</p>
                        <div [class.box-active]="checkoutRepo.reservation"
                            class="d-flex justify-content-between align-items-center mb-2 box-x-container">
                            <p *ngIf="!checkoutRepo.reservation" class="mb-0 text-mute">Masukkan nominal deposit</p>
                            <p *ngIf="checkoutRepo.reservation" class="mb-0 text-1-line text-inline-a">{{
                                checkoutRepo.checkout.deposit | rupiah }}</p>
                            <button
                                (click)="this.checkoutRepo.reservation?  this.checkoutRepo.clear_reservation() : openReservationDeposit()"
                                mat-button class="btn-opts" [class.on-text-danger]="checkoutRepo.reservation">{{
                                checkoutRepo.reservation ? 'Hapus' : 'Deposit'}}</button>
                        </div>
                    </div>
                </div>

                <mat-divider inset></mat-divider>
                <mat-card-actions class="d-flex justify-content-end mb-0">
                    <div class="d-flex">
                        <button (click)="clear()" mat-button class="btn-reset">Reset Ulang</button>
                        <button (click)="checkout()" mat-button class="btn-checkout">Checkout</button>
                    </div>
                </mat-card-actions>
            </mat-card>

        </div>
    </div>
</div>