<div class="container-fluid">
    <div class="d-flex h-inherit">
        <div class="col-5">
            <div class="user d-flex justify-content-center">
                <user-apps (logoutEmit)="logout()" [user]="user"></user-apps>
            </div>
        </div>
        <div class="col container-fluid">
            <div class="user d-flex justify-content-center">
                <shift-card-app class="w-100 h-fit-content" [shift]="shift"></shift-card-app>
            </div>
            <div *ngIf="shift && shift?.status == 'OPEN'" class="user d-flex justify-content-center">
                <button-card class="w-100 h-auto"></button-card>
            </div>
        </div>
    </div>
    <!-- Panel Shift -->
    <!-- <div class="shift d-flex justify-content-center" style="height: 30vh;">
        <div class="card-shift">
            <shift-card-app class="w-100" [shift]="shift"></shift-card-app>
        </div>
    </div> -->
    <!-- Panel User -->
    <!-- <div class="user d-flex justify-content-center" style="height: 80vh;">
        <user-apps [user]="user"></user-apps>
    </div> -->
    <!-- Panel Button Route -->
    <!-- <div class="page d-flex justify-content-center" style="height: auto;">
        <div class="card-choose">
            <button-card class="w-100"></button-card>
        </div>
    </div> -->
    <!-- Card Logout -->
    <!-- <div class="input d-flex justify-content-center" style="height: auto;">
        <div mat-button class="card-button d-flex align-items-center font-weight-bold" (click)="logout()">
            <mat-icon>logout</mat-icon>
            <p class="w-100 mx-2 my-0 text-center">KELUAR</p>
        </div>
    </div> -->
</div>