<div class="container-fluid">
    <!-- <button (click)="testRefresh()">Test Refresh</button> -->
    <div class="d-flex h-inherit">
        <div class="col-5">
            <div class="user d-flex justify-content-center">
                <user-apps (logoutEmit)="logout()" [user]="user"></user-apps>
            </div>
        </div>
        <div class="col container-fluid">
            <div class="user d-flex justify-content-center">
                <shift-card-app class="w-100 h-fit-content" [shift]="shift"></shift-card-app>
            </div>
            <div *ngIf="shift && shift?.status == 'OPEN'" class="user d-flex justify-content-center">
                <button-card class="w-100 h-auto"></button-card>
            </div>
        </div>
    </div>

</div>