<div class="container-fluid">
    <div class="shift d-flex justify-content-center" style="height: 30vh;">
        <div class="card-shift">
            TEST
        </div>
    </div>
    <div class="user d-flex justify-content-center" style="height: 80vh;">
        <user-apps [user]="user"></user-apps>
    </div>
    <div class="page d-flex justify-content-center" style="height: auto;">
        <div class="card-shift">
            TEST
        </div>
    </div>
    <div class="input d-flex justify-content-center" style="height: auto;">
        <div mat-button class="card-button d-flex align-items-center font-weight-bold" (click)="logout()">
            <mat-icon>logout</mat-icon>
            <p class="w-100 mx-2 my-0 text-center">KELUAR</p>
        </div>
    </div>
</div>