img {
  width: 100%;
}

.title {
  font-size: 0.7rem;
  font-weight: bold;
}

#printDiv {
  margin: 10px 0px;
}

.center {
  text-align: center;
}

/* .printContainer { */
/* width: 53mm; */
/* max-width: 53mm; */
/* border: 1px solid black; */
/* } */

.imageStyle {
  width: 30mm;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.print-area {
  transform: scale(0.8);
  background: #fff !important;
}
