.card-user {
  height: auto;
  box-sizing: border-box;
  padding: 18px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 0px 18px rgb(166 166 166 / 16%);
  border-radius: 12px;
}

.user-image {
  display: block;
  width: 40%;
  height: auto;
  margin-bottom: 1.75rem;
  border-radius: 50%;
}

.user-title,
.user-description {
  text-align: center;
  margin: 0 0.625rem;
}

.user-title {
  color: var(--dark-blue);
  font-size: 1.25rem;
  font-weight: 700;
}

.user-description {
  font-weight: 400;
  color: var(--grayish-blue);
  margin-bottom: 1.25rem;
}

.b-right {
  border-right: 1px solid #e5e5e5;
}

.l-height {
  line-height: 23px;
}

.mr-5px {
  margin-right: 5px;
}
