<main class="card-primary">
    <p class="text-title-general">Profil</p>
    <div class="d-flex justify-content-center">
        <img  loading="lazy"
            [src]="user?.picture" [alt]="user?.id" (error)="onImageError($event)">
    </div>
    <p class="mb-0 text-center fw-bold">{{ user?.firstName }} {{ user?.lastName }}</p>
    <p class="text-subtitle-general text-center">{{ user?.id }}</p>
    <hr>
    <div class="d-flex">
        <div class="col b-right">
            <p class="mb-0 text-center fw-bold">Cabang Pusat</p>
            <p class="mb-0 text-subtitle-general text-center">{{ user?.branch }}</p>
        </div>
        <div class="col">
            <p class="mb-0 text-center fw-bold">Terakhir Masuk</p>
            <p class="mb-0 text-subtitle-general text-center">{{ user?.lastLogin }}</p>
        </div>
    </div>
    <hr>
    <div (click)="logout_confirmation()" class="d-flex justify-content-center cursor-pointer">
        <mat-icon class="mr-5px" svgIcon="back-screen"></mat-icon>
        <p class="mb-0 l-height">Keluar</p>
    </div>
</main>