.container-main {
  background: #f8f8f8;
  overflow: hidden;
  height: 100vh;
  padding-bottom: 60px;
}

.card-box-header {
  background: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0px 0px 18px rgb(166 166 166 / 16%);
  height: auto;
  /* margin-top: 10px; */
  margin-bottom: 10px;
  padding: 5px;
}

.card-box {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 0px 24.8972px rgb(166 166 166 / 16%);
  border-radius: 22.1308px;
  height: 100%;
  padding: 0px 10px;
}

.text-title {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  color: #1e1e1e;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.text-head-primary {
  color: #045b62;
  font-weight: 700;
  padding-left: 5px;
}

svg {
  width: auto;
  height: 300px;
}

.container-content {
  height: inherit;
  padding-bottom: 7vh;
}

.grid {
  display: grid;
  height: 100%;
  gap: 8px;
}

.text-date {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  color: #1e1e1e;
  margin-right: 0px;
}

.span-range {
  margin: 0px 10px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

/* ========================= */
/*          ASDDDDDDD        */
/* ========================= */

.primary {
  color: var(--primary-200);
}

.bg-status-primary {
  background: var(--primary-200);
}

/* ========================= */
/*          DATE RANGE       */
/* ========================= */

input,
.mat-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding: 0px; */
  /* gap: 136px; */
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
}

.mat-select {
  padding: 0px 10px;
}

input:focus-visible {
  outline: none;
}

.list-order-container {
  height: 73vh !important;
  max-height: 100vh;
  overflow: auto;
  position: relative;
}

.child {
  position: absolute;
  bottom: 0;
  padding: 10px;
}

::ng-deep .mat-date-range-input-container {
  align-items: stretch !important;
}

::ng-deep .mat-date-range-input-separator {
  align-items: center !important;
  display: flex !important;
}

.box-range {
  background-color: white;
  /* box-shadow: 0px 4px 20px rgb(0 0 0 / 5%); */
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  padding: 0px 10px;
}

.box-time {
  padding: 0px 10px;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
}

.text-desc {
  font-weight: 600;
  font-size: 13px;
  margin: 0px;
  align-items: center;
  text-align: center;
  display: flex;
}

/* ========================= */
/*          DATE RANGE       */
/* ========================= */

/* ========================= */
/*          LIST             */
/* ========================= */
.list-container {
  display: grid;
  gap: 8px;
  padding: 10px 10px;
  overflow: auto;
  box-sizing: border-box;
  max-height: -webkit-fill-available;
  height: 70vh;
  background: #f4f4f4;
}

.card-item {
  background: #e6efef;
  border-radius: 10px;
}

.item-income {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 8px 0px rgb(166 166 166 / 61%);
  border-radius: 8px;
}

.display-grid {
  display: grid !important;
  gap: 1px;
}

.icon-temp {
  transform: scale(0.7);
  margin-right: 5px;
}

.text-temp {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  color: #1e1e1e;
  margin-right: 15px;
}

.list-a {
  padding: 5px 10px 0px 10px;
}

.t-primary {
  font-weight: 700;
  color: #0d0e0e;
}

.center-empty {
  margin: auto;
  /* width: 50%; */
  height: auto;
  padding: 10px;
  padding: 10%;
}

.icon-empty {
  width: 100%;
  min-width: 200px;
  height: 100%;
  padding: 50px 10px 5px;
}

.text-empty {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  color: var(--neutral-400);
}

::-webkit-scrollbar {
  display: none;
}

.icon-calendar-2 {
  margin-right: 5px;
  width: 18px;
}

.btn-detail {
  background: #ffffff;
  color: #045b62;
  border: 1px solid #045b62;
  font-size: 12px;
  transition: all 500ms ease !important;
}

.detail-active {
  background: #045b62;
  color: #fff;
}

.button-next-prev {
  border-radius: 8px;
  border: 1px solid #045b62;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.disable-next-prev {
  cursor: not-allowed;
  opacity: 0.2;
}

/*       CARD - DETAIL       */
/*       CARD - DETAIL       */
/*       CARD - DETAIL       */
/*       CARD - DETAIL       */
/*       CARD - DETAIL       */

.container-detail-shift {
  height: 90vh;
  padding: 10px;
  overflow: auto;
}

/* .box-temp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: inherit;
  height: auto;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
} */

.box-temp {
  padding: 16px 24px 24px;
  margin-bottom: 8px;
  background: #ffffff;
  box-shadow: 0px 0px 18px rgb(166 166 166 / 16%);
  border-radius: 8px;
}

.header-temp {
  width: 100%;
  padding-bottom: 5px;
  border: 0;
  border-bottom: 2px;
  border-color: #e1e1e1;
  border-style: dashed;
}

.body-temp {
  width: 100%;
  margin-top: 5px;
}

.icon-temp {
  transform: scale(0.7);
  margin-right: 5px;
}

.text-temp {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  color: #1e1e1e;
  margin-right: 15px;
}

.code-id {
  font-weight: 700;
  color: var(--primary-200);
}

::ng-deep mat-checkbox.merge-check .mat-checkbox-checkmark-path {
  background-color: #045b62 !important;
}

::ng-deep .mat-checkbox-layout {
  margin-right: 10px !important;
  margin-left: 4px !important;
}

.mat-checkbox.merge-check {
  height: 10px;
  display: contents;
}

.display-grid {
  display: grid !important;
  gap: 1px;
}

.pay-temp {
  color: #989898;
  font-size: 13px;
}

.total-temp {
  color: #1e1e1e;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
}

.opt-temp {
  padding: 10px 40px;
}

.btn-see {
  background: #045b62;
  border-radius: 6px;
  min-width: 134px;
  color: white;
  height: auto;
}

.active {
  border-color: #045b62 !important;
}

p.active {
  color: #045b62 !important;
}

::ng-deep mat-icon.mat-icon.active > svg {
  filter: invert(24%) sepia(58%) saturate(1206%) hue-rotate(146deg)
    brightness(94%) contrast(97%);
}

.center {
  margin: auto;
  width: 100%;
  height: 86%;
  padding: 44px;
  overflow: hidden;
  align-items: center;
  display: flex;
}

.center .mat-icon {
  width: 100%;
  height: fit-content;
}

/* ::ng-deep .center .mat-icon > svg {
  transform: scale(1);
} */

.text-review {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  /* identical to box height */
  text-align: center;
  /* Neutral / 400 */
  color: #1e1e1e;
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-bottom: 0;
}

.text-empty {
  font-size: 12px;
}

.icon-btn {
  /* padding: 1px; */
  line-height: 1px;
}

.load {
  width: auto;
  align-items: center;
  display: flex;
  padding: 5px;
  background: #c8cdcd;
  color: #fff;
  border-radius: 200px;
  transition: all 500ms ease !important;
  -webkit-transition: all 500ms ease !important;
}

.load-span {
  font-size: 12px;
  padding-left: 10px;
}
