<mat-drawer-container class="mat-drawer-order">
    <mat-drawer mode="side" opened>
        <!-- SIDEBAR -->
        <img class="logo-small" src="assets/images/sm_logo.png" alt="logo-small">
        <h4 class="fw-bold text-center my-3 text-main">MENU</h4>


        <a routerLink="/order" [queryParams]="{nav: 'shortcut'}" queryParamsHandling="merge">
            <div [ngClass]="{'active-route': activeRoute === 'shortcut'}" class="menu-box cursor-pointer mb-10">
                <mat-icon *ngIf="activeRoute !== 'shortcut'" [class.active-route-svg]="activeRoute === 'shortcut'"
                    svgIcon="main"></mat-icon>
                <mat-icon *ngIf="activeRoute === 'shortcut'" [class.active-route-svg]="activeRoute === 'shortcut'"
                    svgIcon="main-active"></mat-icon>
                <p class="mb-0">Utama</p>
            </div>
        </a>

        <a routerLink="/order" [queryParams]="{nav: 'product'}" queryParamsHandling="merge">
            <div [ngClass]="{'active-route': activeRoute === 'product'}" class="menu-box cursor-pointer mb-10">
                <mat-icon *ngIf="activeRoute !== 'product'" [class.active-route-svg]="activeRoute === 'product'"
                    svgIcon="product"></mat-icon>
                <mat-icon *ngIf="activeRoute === 'product'" [class.active-route-svg]="activeRoute === 'product'"
                    svgIcon="product-active"></mat-icon>
                <p class="mb-0">Satuan</p>
            </div>
        </a>

        <a routerLink="/order" [queryParams]="{nav: 'package'}" queryParamsHandling="merge">
            <div [ngClass]="{'active-route': activeRoute === 'package'}" class="menu-box cursor-pointer mb-10">
                <mat-icon *ngIf="activeRoute !== 'package'" [class.active-route-svg]="activeRoute === 'package'"
                    svgIcon="package"></mat-icon>
                <mat-icon *ngIf="activeRoute === 'package'" [class.active-route-svg]="activeRoute === 'package'"
                    svgIcon="package-active"></mat-icon>
                <p class="mb-0">Paket</p>
            </div>
        </a>

        <a routerLink="/cashier" [queryParams]="{nav: 'list'}" queryParamsHandling="merge">
            <div [ngClass]="{'active-route': activeRouteNav === 'list'}" class="menu-box cursor-pointer mb-10">
                <mat-icon *ngIf="activeRouteNav !== 'list'" [class.active-route-svg]="activeRouteNav === 'list'"
                    svgIcon="cashier"></mat-icon>
                <mat-icon *ngIf="activeRouteNav === 'list'" [class.active-route-svg]="activeRouteNav === 'list'"
                    svgIcon="cashier-active"></mat-icon>
                <p class="mb-0">Kasir</p>
            </div>
        </a>

        <div (click)="back()" class="menu-box cursor-pointer mb-10 sticky-bottom left-17 w-100">
            <mat-icon svgIcon="back-screen"></mat-icon>
            <p class="mb-0">Kembali</p>
        </div>



    </mat-drawer>
    <mat-drawer-content>

        <div class="row m-0 section-page">
            <!-- PAGE SECTION -->
            <div class="col p-0">
                <list-order-app></list-order-app>
            </div>

            <!-- CHECKOUT SECTION -->
            <div class="col-4 p-0 checkout-container">
                <!-- LIST ITEM -->
                <div [ngClass]="tempRepo.isMergeBill? 'detail-list-checkout-in-merge' : 'detail-list-checkout'"
                    class="header-box" [class.header-box-half]="tempRepo.isMergeBill">

                    <div class="c-header-info sticky-info">
                        <p class="mb-0 head-text-primary">Item Menu Pesanan</p>
                        <div class="col d-flex">
                            <mat-icon class="icon-temp" svgIcon="bell"></mat-icon>
                            <p class="text-temp mb-0">ID Order :
                                <span class="fw-bold">
                                    #{{ tempRepo.tempSalesActive?.id }}
                                </span>
                            </p>
                        </div>
                        <button (click)="tempRepo.updateTempSales()" *ngIf="tempRepo.tempSalesActive?.id" mat-button
                            class="col mx-2 btn-confirm">Ubah Pesanan</button>
                    </div>
                    <ng-container *ngIf="tempRepo.tempSalesActive?.items !== null; else emptyCart">
                        <div class="item-temp p-1 bg-white" *ngFor="let ct of tempRepo.tempSalesActive?.items">

                            <div class="card-menu">
                                <div class="col-3">
                                    <img uiImageLoader class="img-product" onErrorSrc="assets/images/no_pic_square.png"
                                        loader="assets/images/no_pic_square.png" [src]="ct.pic" [alt]="ct.name">
                                </div>
                                <div class="col display-grid pl-10">
                                    <p [ngClass]="ct.isPackage ? 'price-category-package' : ''"
                                        class="price-category mb-0">{{ ct.priceCat }}</p>
                                    <p class="product-name text-start">{{ ct.name }}</p>
                                    <p class="product-price mb-0 mx-10 text-start">{{ ct.totalPrice | rupiah }}
                                    </p>
                                </div>
                            </div>
                            <!-- <mat-card class="items-card">
                                <mat-card-title-group>
                                    <mat-card-subtitle>
                                        <p class="mb-0 fw-bold">{{ item.name }}</p>{{ item.unitPrice | rupiah }}
                                    </mat-card-subtitle>
                                    <img mat-card-sm-image
                                        [src]="item.pic !== null || item.pic !== ''? item.pic : 'assets/images/no_pic_square.png'">
                                </mat-card-title-group>
                                <mat-card-content>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex justify-content-start">
                                            <p style="margin-right: 10px;" class="fw-bold mb-0"> x{{ item.amount }} </p>
                                            <p class="fw-bold mb-0"> {{ item.totalPrice | rupiah }} </p>
                                        </div>
                                        <p> {{ item.isPackage? 'Paket' : 'Satuan' }} </p>
                                    </div>
                                </mat-card-content>
                            </mat-card> -->

                        </div>
                    </ng-container>
                    <ng-template #emptyCart>
                        <div class="center">
                            <div>
                                <mat-icon svgIcon="empty-review"></mat-icon>
                                <p class="text-center text-review">Belum ada review pesanan</p>
                                <p class="text-center text-empty">Silahkan pilih pesanan terlebih dahulu</p>

                            </div>
                        </div>
                    </ng-template>
                </div>
                <!-- LIST ITEM -->

                <!-- IF LIST MERGE BILL ACTIVE -->
                <div *ngIf="tempRepo.isMergeBill" class="detail-list-merge body-box">
                    <div class="sticky-cart-info">
                        <p class="fw-bold mb-1">Info Pemesan</p>
                    </div>

                    <p class="mb-0 text-label">Nama</p>
                    <div class="d-flex align-items-center search-input px-2 mb-2">
                        <mat-icon class="icon-temp" svgIcon="user"></mat-icon>
                        <input placeholder="Masukkan Nama Pemesan" class="col input-small" type="text"
                            [(ngModel)]="tempRepo.merge.name" mat-input>
                        <mat-icon (click)="tempRepo.merge.name = ''" class="col-2 mx-3 cursor-pointer" svgIcon="remove">
                        </mat-icon>
                    </div>

                    <p class="mb-0 text-label">Catatan</p>
                    <div class="d-flex align-items-center search-input px-2 mb-2">
                        <mat-icon class="icon-temp" svgIcon="note"></mat-icon>
                        <input placeholder="Masukkan Catatan" class="col input-small" type="text"
                            [(ngModel)]="tempRepo.merge.note" mat-input>
                        <mat-icon (click)="tempRepo.merge.note = ''" class="col-2 mx-3 cursor-pointer" svgIcon="remove">
                        </mat-icon>
                    </div>

                    <p class="fw-bold mb-1">Tagihan Gabungan</p>
                    <div class="d-flex container-list-merge">
                        <div class="parent-list-merge">
                            <ng-container *ngIf="tempRepo.listBillInbound">
                                <div class="w-100 d-flex onlist" *ngFor="let bill of tempRepo.listBillInbound">
                                    <div class="col-1">1</div>
                                    <div class="col">
                                        <div class="col d-flex">
                                            <mat-icon class="icon-temp" svgIcon="bell"></mat-icon>
                                            <p class="text-temp mb-0">ID Order :
                                                <span class="fw-bold">
                                                    #{{ bill.id }}
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col text-A1">{{ tempRepo.getTotalPrice(bill.items) | rupiah }}</div>
                                </div>
                            </ng-container>

                            <!-- <ng-container *ngIf="tempRepo.listBillInbound">
                            <ol class="list-group list-group-numbered p-0">
                                <li class="list-group-item d-flex justify-content-between align-items-start"
                                    *ngFor="let bill of tempRepo.listBillInbound">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold">{{ bill.id }}</div>
                                        {{ bill.name == ""? '': bill.name }} <span *ngIf="bill.tableIds.length > 0"
                                            style="padding-left: 10px;">T.</span> {{
                                        bill.tableIds.length > 0? getTable(bill.tableIds[0]) : 'Take Away' }}
                                    </div>
                                    <span class="badge text-dark rounded-pill">
                                        {{ tempRepo.getTotalPrice(bill.items) | rupiah}}
                                    </span>
                                </li>
                            </ol>

                        </ng-container> -->

                        </div>
                    </div>
                </div>
                <!-- IF LIST MERGE BILL ACTIVE-->


                <!-- DESCRIPTION CHECKOUT -->
                <div class="payment-list-checkout footer-box">
                    <ul class="list-group list-group-flush">
                        <li *ngIf="!tempRepo.isMergeBill" class="list-group-item d-flex justify-content-between">Jumlah
                            item #
                            {{tempRepo.tempSalesActive?.items?.length }}
                            <div class="col-4 fw-bold">
                                {{ tempRepo.getTotalPrice(tempRepo.tempSalesActive?.items?? []) | rupiah }}
                            </div>
                        </li>
                        <li *ngIf="tempRepo.isMergeBill"
                            class="list-group-item d-flex justify-content-between fw-bold px-0">
                            Total
                            ({{tempRepo.listBillInbound.length }})
                            <div class="col-4 fw-bold">
                                {{ tempRepo.grand_total | rupiah}}
                            </div>
                        </li>
                    </ul>



                    <ng-container *ngIf="tempRepo.isMergeBill; else isNormal">
                        <div class="d-flex">
                            <button [disabled]="tempRepo.isLoadingMerge" (click)="tempRepo.clearMerge()" mat-button
                                class="col-4 btn-ccl mr-10">{{ tempRepo.isLoadingMerge? '' : 'Batal' }}</button>
                            <button [disabled]="tempRepo.isLoadingMerge" (click)="tempRepo.submitMerge()" mat-button
                                class="btn-pay"> {{ tempRepo.isLoadingMerge? 'Loading...' : 'Gabung Tagihan' }}</button>
                        </div>
                    </ng-container>
                    <ng-template #isNormal>
                        <button [disabled]="!tempRepo.tempSalesActive?.id" (click)="goToPaymentPage()" mat-button
                            class="btn-pay">Bayar</button>
                    </ng-template>



                </div>
                <!-- DESCRIPTION CHECKOUT -->
            </div>
        </div>



    </mat-drawer-content>
</mat-drawer-container>