<div class="container-fluid">
    <div class="d-flex">
        <div class="col-4 pos-relative">
            <mat-card class="cal-inline-calendar-card">
                <mat-calendar (selectedChange)="changeDate($event)" [(selected)]="selected"></mat-calendar>
            </mat-card>

            <div class="col d-flex align-items-center justify-content-around p-2">
                <div [class.disable-next-prev]="resvRepo.disablePrev"
                    (click)="resvRepo.disablePrev ? null : resvRepo.prevPage " mat-button color="accent"
                    class="button-next-prev">
                    <mat-icon class="icon-next-prev" svgIcon="chevron-left"></mat-icon>
                </div>
                <strong class="mx-2">{{ (resvRepo.reservationPagine?.pageNumber?? 0) + 1 }} / {{
                    resvRepo.reservationPagine?.totalPage }}</strong>
                <div [class.disable-next-prev]="resvRepo.disbaleNext"
                    (click)="resvRepo.disbaleNext ? null : resvRepo.nextPage()" mat-button color="accent"
                    class="button-next-prev">
                    <mat-icon class="icon-next-prev" svgIcon="chevron-right"></mat-icon>
                </div>
            </div>

            <div class="d-flex sticky-bottom">
                <button (click)="close()" class="btn-close-s" mat-button>Tutup</button>
            </div>
        </div>
        <div class="col container-reservation-list">
            <ng-container *ngIf="data_reservation.length > 0; else empty">
                <ng-container *ngFor="let item of data_reservation">
                    <div class="single">
                        <div class="icon"><img class="icon-img" src="assets/images/sm_logo.png" alt=""></div>
                        <div class="text">

                            <div class="d-flex align-items-center mb-2">
                                <mat-icon class="icon-calendar-2" svgIcon="user"></mat-icon>
                                <p class="mb-0 mr-1 key-name">Nama Pemesan : </p>
                                <p class="mb-0 fw-bold value-in">-</p>
                            </div>
                            <div class="d-flex align-items-center mb-2">
                                <mat-icon class="icon-calendar-2" svgIcon="date"></mat-icon>
                                <p class="mb-0 mr-1 key-name">Tgl. Reservasi : </p>
                                <p class="mb-0 fw-bold value-in">{{ (item?.bookingTime?? today) | milistodate: 'mmss' }}
                                </p>
                            </div>
                            <div class="d-flex align-items-center mb-2">
                                <mat-icon class="icon-calendar-2" svgIcon="money-cash"></mat-icon>
                                <p class="mb-0 mr-1 key-name">Metode & Nominal Deposit : </p>
                                <p class="mb-0 fw-bold value-in">{{ checkpayment(item?.paymentMethod,
                                    item?.paymentTypeId)
                                    }} - {{ (item?.dpAmount?? 0) | rupiah }}</p>
                            </div>
                            <div class="d-flex align-items-center mb-2">
                                <mat-icon class="icon-calendar-2" svgIcon="note"></mat-icon>
                                <p class="mb-0 mr-1 key-name">Catatan : </p>
                                <p class="mb-0 fw-bold value-in">{{ item?.note?? '-' }}</p>
                            </div>

                            <div class="functions">
                                <span (click)="claim(item)">Claim Reservasi<svg xmlns="http://www.w3.org/2000/svg"
                                        width="7" height="10" viewBox="0 0 7 10">
                                        <polyline fill="none" stroke="#3899EC" stroke-width="1.5"
                                            points="105.077 13.154 101 9.077 105.077 5"
                                            transform="rotate(-180 53.038 7.077)" />
                                    </svg>
                                </span>
                            </div>

                        </div>
                    </div>
                </ng-container>
            </ng-container>
            <ng-template #empty>
                <div class="center">
                    <div>
                        <mat-icon svgIcon="empty-reservation"></mat-icon>
                        <p class="text-center text-review">Tidak ada daftar Reservasi</p>
                        <p class="text-center text-empty">Silahkan tambah reservasi terlebih dahulu</p>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>