<div class="container-fluid on-split-container p-0">
    <div class="d-flex card-box-header">
        <!-- <mat-card class="info-split-card d-flex">
            <button class="" (click)="location.back()" mat-icon-button>
                <mat-icon svgIcon="back"></mat-icon>
            </button>
            <p class="mb-0 text-title">Pisah Tagihan</p>
            <mat-card-header>
                <mat-card-title>{{ tempSales?.name?? 'BAWA PULANG' }}</mat-card-title>
                <mat-card-subtitle>{{ tempSales?.note?? 'CATATAN' }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions class="d-flex justify-content-between">
                <button class="m-0-16" (click)="location.back()" mat-button>
                    <mat-icon svgIcon="back"></mat-icon>
                </button>
                <div class="d-flex col-6 justify-content-end">
                    <button (click)="addBill()" mat-button>TAMBAH TAGIHAN</button>
                    <button class="btn-confirm" (click)="doSplit()" mat-button>{{ tempRepo.isLoadingSplit ? 'Loading...'
                        : 'PISAH BILL'}}</button>
                </div>
            </mat-card-actions>
        </mat-card> -->
        <button class="" (click)="location.back()" mat-icon-button>
            <mat-icon svgIcon="back"></mat-icon>
        </button>
        <p class="mb-0 text-title">Pisah Tagihan</p>
    </div>
    <div class="d-flex">
        <div class="col-4">
            <!--optionally select a child element as drag image-->
            <!-- <ng-container *ngFor="let item of draggable.data">
                    <div dndDragImageRef>{{ item.name }}</div> -->
            <!-- CARD LIST ITEM -->
            <div class="display-grid">
                <div class="box-main">
                    <p class="mb-0 title-e">Info Pesanan</p>
                    <div class="col d-flex">
                        <mat-icon class="icon-temp" svgIcon="bell"></mat-icon>
                        <p class="text-temp mb-0">ID Order :
                            <span class="fw-bold">
                                #{{ tempSales?.id }}
                            </span>
                        </p>
                    </div>
                    <div class="col d-flex">
                        <mat-icon class="icon-temp" svgIcon="user"></mat-icon>
                        <p class="text-temp mb-0">Nama :
                            <span class="fw-bold">
                                {{ tempSales?.name == "" ? "" : tempSales?.name }}
                                <span *ngIf="tempSales?.tableIds!.length > 0" style="padding-left: 10px">T.</span>
                                {{tempSales?.tableIds!.length > 0? tempSales : "Pelanggan" }}
                            </span>
                        </p>
                    </div>
                </div>
                <ol class="list-group list-item">
                    <p class="mb-0 title-e">Item Menu Pesanan</p>
                    <ng-container *ngIf="is_available_split_list; else emptysuccess">
                        <ng-container *ngFor="let item of tempSales?.items">
                            <li *ngIf="item.amount > 0"
                                class="display-item-temp d-flex justify-content-between align-items-start mb-1">

                                <!--a draggable element-->
                                <div class="draggable" [dndDraggable]="item"
                                    [dndEffectAllowed]="draggable.effectAllowed" [dndDisableIf]="!(item.amount > 0)"
                                    (dndStart)="onDragStart($event)" (dndCopied)="onDraggableCopied($event)"
                                    (dndLinked)="onDraggableLinked($event)" (dndMoved)="onDraggableMoved($event)"
                                    (dndCanceled)="onDragCanceled($event)" (dndEnd)="onDragEnd($event)">

                                    <!--if [dndHandle] is used inside dndDraggable drag can only start from the handle-->
                                    <div *ngIf="draggable.handle" dndHandle>HANDLE
                                    </div>

                                    <!-- draggable ({{draggable.effectAllowed}}) <span [hidden]="!draggable.disable">DISABLED</span> -->
                                    <div dndDragImageRef class="d-flex w-100">
                                        <div class="col-1 text-list">
                                            {{ item.amount }}
                                        </div>
                                        <div class="me-auto">
                                            <div class="text-list">{{ item.name }}
                                                <p [ngClass]="item.isPackage ? 'price-category-package' : ''"
                                                    class="price-category mb-0">{{ item.priceCat }}</p>
                                            </div>
                                            <!-- Content for list item -->
                                        </div>
                                        <span class="text-dark text-list">{{ item.totalPrice | rupiah }}</span>
                                        <mat-icon class="drag-icon" svgIcon="drag"></mat-icon>
                                    </div>
                                </div>
                            </li>
                        </ng-container>
                    </ng-container>
                    <ng-template #emptysuccess>
                        <div class="center-empty-cart">
                            <div>
                                <mat-icon class="illus-split" svgIcon="empty-success"></mat-icon>
                                <p class="text-center text-review mb-0">Item menu telah dipindahkan semua</p>
                                <p class="text-center text-empty">Silahkan lanjutkan pisah tagihan</p>

                            </div>
                        </div>
                    </ng-template>
                </ol>
            </div>

            <!-- </ng-container> -->


        </div>
        <div class="col-8">
            <div class="container-fluid list-drop-container">
                <!--a dropzone-->
                <!--to allow dropping content that is not [dndDraggable] set dndAllowExternal to true-->
                <ng-container *ngFor="let item of bills; let i = index">
                    <div class="box-main">
                        <div class="d-flex justify-content-between">
                            <p class="mb-0 title-e">Tagihan {{ i + 1 }}</p>
                            <div class="d-flex align-items-center">
                                <p class="mb-0 text-i pr-10px">Total Item #{{ item.items.length }}</p>
                                <p *ngIf="i > 1" (click)="remove_bill(i)"
                                    class="mb-0 text-i danger pr-10px cursor-pointer">Batal</p>
                                <!-- <button (click)="remove_bill(i)" class="on-text-danger" *ngIf="i > 1"
                                    mat-button>Batal</button> -->
                            </div>
                        </div>
                        <!--optional placeholder element for dropzone-->
                        <!--will be removed from DOM on init-->
                        <div class="d-flex">

                            <div class="col pr-10px">
                                <p class="mb-0 text-label">Nama</p>
                                <div class="d-flex align-items-center search-input px-2 mb-2">
                                    <mat-icon class="icon-temp" svgIcon="user"></mat-icon>
                                    <input placeholder="Masukkan Nama Pemesan" class="col input-small" type="text"
                                        [(ngModel)]="bills[i].name" mat-input>
                                    <mat-icon (click)="bills[i].name = ''" class="col-2 mx-3 cursor-pointer"
                                        svgIcon="remove">
                                    </mat-icon>
                                </div>
                            </div>

                            <div class="col pr-10px">
                                <p class="mb-0 text-label">Catatan</p>
                                <div class="d-flex align-items-center search-input px-2 mb-2">
                                    <mat-icon class="icon-temp" svgIcon="note"></mat-icon>
                                    <input placeholder="Masukkan Catatan" class="col input-small" type="text"
                                        [(ngModel)]="bills[i].note" mat-input>
                                    <mat-icon (click)="bills[i].note = ''" class="col-2 mx-3 cursor-pointer"
                                        svgIcon="remove">
                                    </mat-icon>
                                </div>
                            </div>
                        </div>

                        <ng-container *ngIf="item.items.length > 0">
                            <ol class="list-group list-drop">
                                <p class="title-e">Menu Pesanan</p>
                                <ng-container *ngFor="let it of item.items; let idx = index">
                                    <li
                                        class="list-group-item list-item-o d-flex justify-content-between align-items-start mb-1">
                                        <div class="d-flex w-100">
                                            <div class="col d-flex align-items-center">
                                                <div class="fw-bold mr-10px">{{ it.name }}</div>
                                                <p [ngClass]="is_package(it.id) ? 'price-category-package' : ''"
                                                    class="price-category mb-0">{{ get_desc_price(it.id) }}</p>
                                            </div>
                                            <div class="d-flex col-4">
                                                <div class="col d-flex justify-content-end">
                                                    <div [ngClass]="it.amount === 1? 'btn-plus-minus-disabled' : null"
                                                        (click)="minus(i, it.menuId?? '', (it.id?? 0))"
                                                        class="btn-plus-minus d-flex align-items-center justify-content-center"
                                                        mat-button>
                                                        <mat-icon svgIcon="minus"></mat-icon>
                                                    </div>
                                                </div>
                                                <div class="col d-flex align-items-center">
                                                    <strong class="w-100 text-center">{{ it.amount }}</strong>
                                                </div>
                                                <div class="col d-flex justify-content-start">
                                                    <div [ngClass]="get_disablePlus(it.menuId?? '', (it.id?? 0))? 'btn-plus-minus-disabled' : null"
                                                        (click)="plus(i, it.menuId?? '', (it.id?? 0))"
                                                        class="btn-plus-minus d-flex align-items-center justify-content-center"
                                                        mat-button>
                                                        <mat-icon class="plus-2" svgIcon="plus-2"></mat-icon>
                                                    </div>
                                                </div>
                                            </div>
                                            <div (click)="removeItemAt(i, it.menuId?? '', (it.id?? 0))"
                                                class="col-1 d-flex align-items-end justify-content-end cursor-pointer">
                                                <p class="mb-0 on-text-danger line-h">Batal</p>
                                            </div>
                                            <!-- <span class="text-dark">{{ it.totalPrice | rupiah }}</span> -->
                                        </div>
                                    </li>
                                </ng-container>
                            </ol>
                        </ng-container>
                        <!-- <ng-template #emptyItem>
                        <div class="standby-input my-1">
                            Area drop <mat-icon style="margin-left: 1rem;">keyboard_double_arrow_down</mat-icon>
                        </div>
                    </ng-template> -->

                        <section id="{{i}}" class="dropzone" dndDropzone (dndDragover)="onDragover($event, i)"
                            (dndDrop)="onDrop($event, i)">
                            <div class="placeholder-here my-1" dndPlaceholderRef>
                                <span class="text-g">Drop disini</span>
                            </div>
                            <div class="standby-input my-1">
                                <mat-icon svgIcon="area-drop" class="icon-drop"></mat-icon>
                                <span class="text-g text-primary fw-bold">Area drop</span>
                                <span class="text-g">Silahkan pilih item menu pesanan di samping kiri </span>
                            </div>
                        </section>

                    </div>
                </ng-container>
            </div>
            <div class="container-button d-flex">
                <button mat-button class="btn-add" (click)="addBill()">Tambah Tagihan</button>
                <button mat-button class="btn-split" (click)="doSplit()">{{ tempRepo.isLoadingSplit ? 'Tunggu...'
                    : 'Pisah Tagihan'}}</button>
            </div>
        </div>
    </div>
</div>