.sidenav {
  width: 15%;
  height: 100vh;
  position: fixed;
  z-index: 1;
  /* top: 20px; */
  /* left: 10px; */
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196f3;
  display: block;
}

.btn-indicator-left.active {
  background-color: #045b62;
  border-radius: 6px;
  color: #fff;
  animation: animBtn 4s cubic-bezier(0.11, 0, 0.5, 0) 1s infinite normal
    backwards;
}

.btn-indicator-left {
  background-color: #ffffff;
  border-radius: 6px;
  color: #202020;
}

.bottom-fixed {
  position: fixed;
  /* right: 0; */
  bottom: 0;
  left: 0;
  z-index: 1030;
}

.btn-flip {
  background-color: #b9941a;
  border-radius: 6px;
  color: #fff;
}

.button-next-prev {
  border-radius: 8px;
  border: 1px solid #045b62;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.disable-next-prev {
  cursor: not-allowed;
  opacity: 0.2;
}

@keyframes animBtn {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.cart-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* display: inline-grid; */
  position: relative;
  gap: 4px !important;
}

.h-cart {
  height: auto !important;
  overflow: auto;
  gap: 10px;
  display: grid;
}

.h-total {
  height: 5% !important;
  padding: 0px 10px !important;
}

input {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding: 0px; */
  /* gap: 136px; */
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
}

input:focus-visible {
  outline: none;
}

.img-cart {
  width: 100%;
  height: 9vh;
  border-radius: 7px;
}

.btn-plus-minus {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  background: #045b62;
}

.btn-plus-minus-disabled {
  background: #6a6a6a;
  cursor: not-allowed;
}

.price-item {
  font-size: 12px;
  font-weight: bold;
}

.carding-cart {
  /* List Order Menu */
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 12px 24px; */
  gap: 10px;
  width: inherit;
  height: fit-content;
  /* Neutral/100 */
  background: #ffffff;
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.menu-content {
  height: 70vh;
  overflow: auto;
  gap: 10px;
}

.position-number {
  font-size: 20px;
  font-weight: bold;
  padding: 0px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-delete-shortcut {
  position: relative;
  left: 50px;
  bottom: 10px;
}

.card-product {
  width: 135px;
  cursor: pointer;
  min-height: 210px;
  background: #ffffff;
  box-shadow: 0px 0px 18px rgba(166, 166, 166, 0.16);
  border-radius: 16px;
  display: grid;
}

.img-product {
  width: 70%;
  border-radius: 10px;
}

.items-prod {
  width: fit-content !important;
  padding: 0px;
}

owl-carousel-o {
  height: fit-content !important;
}

.owl-category-price {
  background: white;
  padding: 5px 10px;
  width: max-content;
  /* min-height: 50px; */
  border: 1px solid #e5e5e5;
  border-radius: 8px;
}

.bg-active {
  background: var(--primary-100);
  border: 1px solid var(--primary-200);
  border-radius: 8px;
  color: var(--primary-200);
  font-weight: 600;
}

.fs-12 {
  font-size: 12px;
}

.category-picture {
  width: 20px !important;
  height: 20px;
  border-radius: 10px;
  /* margin-right: 10px; */
}

/* ::ng-deep .owl-carousel .owl-item {
  width: max-content !important;
} */

/* .owl-carousel .owl-stage {
  display: flex;
}

.owl-carousel .owl-item img {
  width: auto;
  height: 100%;
} */

.w-min-display {
  min-width: 110px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

svg {
  width: auto;
  height: 300px;
}

.food {
  width: 100%;
  height: auto;
  padding: 10px;
}

.empty-food {
  width: 100%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.text-empty {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  /* identical to box height */
  /* Neutral / 400 */
  color: var(--neutral-400);
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

#maincontent-selector {
  position: relative;
}

.footer-selector {
  position: fixed;
  bottom: 10px;
  width: inherit;
  display: flex;
  align-items: center;
}

.button-next-prev {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgb(0 0 0 / 5%);
  border-radius: 4px;
  gap: 10px;
  height: 30px;
  /* width: 100%;
  height: 100%; */
}

.icon-next-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 8px;
}

.error-border {
  border: 1px solid #b84f4f;
}

.new-order {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  /* Primary / 200 */
  color: #045b62;
}

.utama {
  color: #ff4081;
  position: relative;
  bottom: 220px;
  left: 65px;
}

::ng-deep .utama-disabled {
  color: #9f9f9f !important;
}

::ng-deep .mat-badge-accent .mat-badge-content {
  background: #045b62 !important;
  color: #fff !important;
}

.utama-package {
  color: #ff4081;
  position: relative;
  bottom: 260px;
  left: 65px;
}

.center-empty-cart {
  margin: auto;
  /* width: 50%; */
  height: auto;
  padding: 10px;
  padding: 10%;
}

.icon-empty-cart {
  width: 100%;
  min-width: 200px;
  height: 100%;
}

.center-shortcut {
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.category-box {
  font-size: 9px;
  background-color: #045b62;
  width: auto;
  position: relative;
  font-size: 9px;
  background-color: #620453;
  top: 11px;
  border-radius: 3px;
  color: white;
  padding: 0px 2px;
  text-align: center;
}

.mat-option .mat-icon {
  color: goldenrod;
}

.text-cart-header {
  color: var(--netral-400);
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.5;
  max-width: 100%;
  max-height: 100%;
  white-space: pre-wrap;
  word-break: keep-all;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 4px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.subtitle-text-cart {
  width: max-content;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #b0b0b0;
}

.box-dropdown-table {
  width: 100% !important;
  padding: 5px 10px;
  background: var(--neutral-100);
  border: 1px solid var(--neutral-200);
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

::ng-deep mat-icon.small-icon.mat-icon > svg {
  transform: scale(0.8) !important;
}

.text-label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.hr-cart {
  border: 6px solid #e5e5e5;
}
