<mat-drawer-container class="mat-drawer-order">
    <mat-drawer mode="side" opened>
        <!-- SIDEBAR -->
        <img class="logo-small" src="assets/images/sm_logo.png" alt="logo-small">
        <h4 class="fw-bold text-center my-3 text-main">MENU</h4>


        <a routerLink="/order" [queryParams]="{nav: 'shortcut'}" queryParamsHandling="merge">
            <div [ngClass]="{'active-route': activeRoute === 'shortcut'}" class="menu-box cursor-pointer mb-10">
                <mat-icon *ngIf="activeRoute !== 'shortcut'" [class.active-route-svg]="activeRoute === 'shortcut'"
                    svgIcon="main"></mat-icon>
                <mat-icon *ngIf="activeRoute === 'shortcut'" [class.active-route-svg]="activeRoute === 'shortcut'"
                    svgIcon="main-active"></mat-icon>
                <p class="mb-0">Utama</p>
            </div>
        </a>

        <a routerLink="/order" [queryParams]="{nav: 'product'}" queryParamsHandling="merge">
            <div [ngClass]="{'active-route': activeRoute === 'product'}" class="menu-box cursor-pointer mb-10">
                <mat-icon *ngIf="activeRoute !== 'product'" [class.active-route-svg]="activeRoute === 'product'"
                    svgIcon="product"></mat-icon>
                <mat-icon *ngIf="activeRoute === 'product'" [class.active-route-svg]="activeRoute === 'product'"
                    svgIcon="product-active"></mat-icon>
                <p class="mb-0">Satuan</p>
            </div>
        </a>

        <a routerLink="/order" [queryParams]="{nav: 'package'}" queryParamsHandling="merge">
            <div [ngClass]="{'active-route': activeRoute === 'package'}" class="menu-box cursor-pointer mb-10">
                <mat-icon *ngIf="activeRoute !== 'package'" [class.active-route-svg]="activeRoute === 'package'"
                    svgIcon="package"></mat-icon>
                <mat-icon *ngIf="activeRoute === 'package'" [class.active-route-svg]="activeRoute === 'package'"
                    svgIcon="package-active"></mat-icon>
                <p class="mb-0">Paket</p>
            </div>
        </a>

        <a routerLink="/cashier" [queryParams]="{nav: 'list'}" queryParamsHandling="merge">
            <div [ngClass]="{'active-route': activeRoute === 'list'}" class="menu-box cursor-pointer mb-10">
                <mat-icon *ngIf="activeRoute !== 'list'" [class.active-route-svg]="activeRoute === 'list'"
                    svgIcon="cashier"></mat-icon>
                <mat-icon *ngIf="activeRoute === 'list'" [class.active-route-svg]="activeRoute === 'list'"
                    svgIcon="cashier-active"></mat-icon>
                <p class="mb-0">Kasir</p>
            </div>
        </a>

        <div (click)="back()" class="menu-box cursor-pointer mb-10 sticky-bottom left-17 w-100">
            <mat-icon svgIcon="back-screen"></mat-icon>
            <p class="mb-0">Kembali</p>
        </div>

        <!-- SIDEBAR -->
    </mat-drawer>
    <mat-drawer-content>
        <!-- CONTENT -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-8 px-0">

                    <mat-card class="">
                        <h1 class="title-card mb-1">{{ get_title }}</h1>
                        <p class="subtitle-card mb-0">Berikut merupakan daftar menu satuan</p>
                        <mat-card-content class="mb-0">

                        </mat-card-content>
                        <!-- <mat-divider inset></mat-divider> -->
                        <mat-card-actions class="row d-flex justify-content-between align-items-center b-0 mb-0">

                            <div class="col-3 d-flex col-4 d-flex align-items-center box-dropdown">
                                <mat-icon class="mx-2" svgIcon="filter"></mat-icon>
                                <mat-select [(value)]="selected" disableOptionCentering panelClass="droprown-position"
                                    class="position-inbottom">
                                    <mat-option value="tipe_harga">Tipe Harga</mat-option>
                                    <mat-option [value]="item.name" *ngFor="let item of order.getPriceCat() | async">
                                        {{ item.name }}
                                    </mat-option>
                                </mat-select>
                            </div>
                            <div class="col py-2">
                                <div class="d-flex align-items-center search-input">
                                    <mat-icon class="col-2 mx-3" svgIcon="search"></mat-icon>
                                    <input (keyup)="applyFilter($event)" placeholder="Cari Menu" class="col" type="text"
                                        mat-input>
                                </div>
                            </div>

                        </mat-card-actions>
                        <mat-card-footer>
                            <mat-progress-bar *ngIf="order.isLoading" mode="indeterminate"></mat-progress-bar>
                        </mat-card-footer>
                    </mat-card>

                    <div class="row px-3 justify-content-between">

                        <container-element [ngSwitch]="activeRoute" class="p-0">
                            <ng-container *ngSwitchCase="'product'">
                                <!--PRODUCT-->
                                <ng-container *ngIf="products">
                                    <div class="row py-2 m-0 w-100 box-shadow-card">
                                        <owl-carousel-o [options]="customOptions">
                                            <ng-container *ngFor="let pcat of order.productCategory">
                                                <ng-template carouselSlide>
                                                    <div (click)="order.updateProduct(pcat.id)"
                                                        [ngClass]="order.searchProduct.option === pcat.id.toString()? 'bg-active' : ''"
                                                        class="owl-category-price">
                                                        <div class="d-flex align-items-center fs-12">
                                                            <img class="category-picture" src="{{ pcat.pic }}"
                                                                alt="img-category">
                                                            <p class="mb-0">{{ pcat.name }} {{ pcat.id }}</p>
                                                        </div>
                                                    </div>
                                                </ng-template>
                                            </ng-container>
                                        </owl-carousel-o>
                                    </div>
                                    <div class="row menu-content py-2 px-3">
                                        <ng-container *ngIf="products.length > 0; else empty">
                                            <div class=" text-center items-prod" *ngFor="let item of products">
                                                <product-card
                                                    *ngIf="item.prices.length > 0 && getPriceAvailable(item.prices)"
                                                    (on_item)="addProductToCart($event, false)"
                                                    (on_shortcut)="shortcutThis($event)" [item]="item" [id]="item.id"
                                                    [priceCategory]="selected" [active]="item.active"
                                                    [pictures]="item.pic" [name]="item.name" [desc]="item.description"
                                                    [size]="item.size" [unit]="item.unit" [quantity]="item.quantity"
                                                    [prices]="item.prices" [position]="getPosition(item.id)">
                                                </product-card>
                                            </div>
                                            <div class="footer-selector">

                                                <div class="col d-flex align-items-center justify-content-around p-2">
                                                    <div [class.disable-next-prev]="disablePrevProd"
                                                        (click)="disablePrevProd ? null : prevProd() " mat-button
                                                        color="accent" class="button-next-prev">
                                                        <mat-icon class="icon-next-prev"
                                                            svgIcon="chevron-left"></mat-icon>
                                                    </div>
                                                    <strong class="mx-2"> {{ (pagineProduct.pageNumber?? 0) + 1 }} / {{
                                                        (pagineProduct.totalPage?? 0) + 1}}</strong>
                                                    <div [class.disable-next-prev]="disbaleNextProd"
                                                        (click)="disbaleNextProd ? null : nextProd()" mat-button
                                                        color="accent" class="button-next-prev">
                                                        <mat-icon class="icon-next-prev"
                                                            svgIcon="chevron-right"></mat-icon>
                                                    </div>
                                                </div>

                                            </div>
                                        </ng-container>
                                        <ng-template #empty>
                                            <div class="center">

                                                <img class="empty-food" src="assets/images/illustration/empty-food.png"
                                                    alt="empty-food">
                                                <p class="text-center text-empty">Yah, kategori ini belum punya
                                                    menu</p>

                                            </div>

                                        </ng-template>
                                    </div>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngSwitchCase="'package'">
                                <!--PACKAGE-->
                                <ng-container *ngIf="packages">
                                    <div class="row menu-content py-2 px-3">
                                        <ng-container *ngIf="packages.length > 0; else emptyPackage">
                                            <div class="text-center items-prod" *ngFor="let item of packages">
                                                <package-card
                                                    *ngIf="item.prices.length > 0 && getPriceAvailable(item.prices)"
                                                    (on_item)="addProductToCart($event, true)"
                                                    [position]="getPosition(item.id)"
                                                    (on_shortcut)="shortcutThis($event)" [item]="item" [id]="item.id"
                                                    [priceCategory]="selected" [active]="item.active"
                                                    [pictures]="item.pic" [name]="item.name" [desc]="item.description"
                                                    [products]="item.products" [prices]="item.prices"></package-card>
                                            </div>
                                            <div class="footer-selector">

                                                <div class="col d-flex align-items-center justify-content-around p-2">
                                                    <div [class.disable-next-prev]="disablePrevPack"
                                                        (click)="disablePrevPack ? null : prevPack() " mat-button
                                                        color="accent" class="button-next-prev">
                                                        <mat-icon class="icon-next-prev"
                                                            svgIcon="chevron-left"></mat-icon>
                                                    </div>
                                                    <strong class="mx-2"> {{ (paginePackage.pageNumber?? 0) + 1 }} / {{
                                                        (paginePackage.totalPage?? 0) + 1}}</strong>
                                                    <div [class.disable-next-prev]="disbaleNextPack"
                                                        (click)="disbaleNextPack ? null : nextPack()" mat-button
                                                        color="accent" class="button-next-prev">
                                                        <mat-icon class="icon-next-prev"
                                                            svgIcon="chevron-right"></mat-icon>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <ng-template #emptyPackage>
                                            <div class="center">

                                                <img class="empty-food" src="assets/images/illustration/empty-food.png"
                                                    alt="empty-food">
                                                <p class="text-center text-empty">Yah, Paket ini belum punya
                                                    menu</p>

                                            </div>
                                        </ng-template>
                                    </div>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngSwitchCase="'shortcut'">
                                <div class="d-flex menu-content">
                                    <ng-container>
                                        <div class="text-center items-prod" *ngFor="let pos of order.position">
                                            <!-- CARD SHORTCUT -->
                                            <div *ngIf="getShortcut(pos); else emptyspace">
                                                <shortcut-card
                                                    *ngIf="getShortcut(pos)?.prices!.length > 0 && getPriceAvailable((getShortcut(pos)?.prices?? []))"
                                                    (on_item)="addShortcutToCart($event)" [position]="pos"
                                                    (on_shortcut)="shortcutThis($event)"
                                                    (on_delete)="deleteShortcut($event)" [item]="getShortcut(pos)"
                                                    [id]="getShortcut(pos)?.id" [priceCategory]="selected"
                                                    [active]="getShortcut(pos)?.active"
                                                    [pictures]="getShortcut(pos)?.pic" [name]="getShortcut(pos)?.name"
                                                    [desc]="getShortcut(pos)?.description"
                                                    [prices]="getShortcut(pos)?.prices"></shortcut-card>
                                            </div>
                                            <ng-template #emptyspace>
                                                <!-- CARD EMPTY -->
                                                <div class="card-product">
                                                    <span class="position-number"> {{ pos }} </span>
                                                    <mat-icon class="food" svgIcon="food"></mat-icon>
                                                    <small>Tidak ada menu</small>
                                                </div>
                                                <!-- CARD EMPTY -->
                                            </ng-template>
                                            <!-- CARD SHORTCUT -->
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>
                            <!-- <some-element *ngSwitchDefault>
                                <p>Menu is Empty (Menu kosong)</p>
                            </some-element> -->
                        </container-element>

                    </div>

                </div>
                <div class="col-4 p-0">
                    <div class="container-fluid p-0 cart-container">

                        <div class="header-box-cart">
                            <p class="text-title-cart mb-0">Info Pemesan</p>
                            <p class="text-subtitle-cart mb-0">Pengisian dapat sesuai dengan kebutuhan</p>
                            <div class="d-flex justify-content-between mb-2">
                                <p class="id-order mb-0">ID Order : <span class="text-primary">
                                        {{ cartRepo.cart.id === null || cartRepo.cart.id === 0? ' PesananBaru' :
                                        cartRepo.cart.id }}
                                    </span></p>
                                <p (click)="newOrder()" class="text-primary mb-0 cursor-pointer">Reset</p>
                            </div>

                            <p class="text-label mb-0">Nomor Meja</p>
                            <div class="d-flex align-items-center  box-dropdown-table mb-2">
                                <mat-icon class="mx-2 small-icon" svgIcon="table"></mat-icon>
                                <mat-select (selectionChange)="cartRepo.doSomething($event)"
                                    [(ngModel)]="cartRepo.cart.tableIds[0]" disableOptionCentering
                                    panelClass="droprown-table">
                                    <mat-option [value]="not_table">Tanpa Meja</mat-option>
                                    <mat-option [disabled]="tb.isOccupied" [value]="tb.id"
                                        *ngFor="let tb of order.tables">
                                        {{
                                        tb.name }} {{
                                        tb.isOccupied? 'Terisi': ''}}
                                    </mat-option>
                                </mat-select>
                            </div>

                            <p class="text-label mb-0">Nama</p>
                            <div class="d-flex align-items-center box-dropdown-table mb-2">
                                <mat-icon class="col-2 mx-2 small-icon" svgIcon="user"></mat-icon>
                                <input class="col input-info" mat-input placeholder="Masukkan nama pemesan"
                                    #name="ngModel" id="name" name="name" type="text" [minlength]="3"
                                    [(ngModel)]="cartRepo.cart.name">
                            </div>

                            <p class="text-label mb-0">Catatan</p>
                            <div class="d-flex align-items-center box-dropdown-table mb-2">
                                <mat-icon class="col-2 mx-2 small-icon" svgIcon="note"></mat-icon>
                                <input class="col input-info" mat-input placeholder="Masukkan catatan" #note="ngModel"
                                    id="note" name="note" type="text" [(ngModel)]="cartRepo.cart.note">
                            </div>

                        </div>

                        <div class="body-box-cart">
                            <div class="sticky-cart-info">
                                <p class="text-title-cart mb-0">Menu yang dipesan</p>
                                <p class="text-subtitle-cart mb-0">Kamu dapat mengelola pesanan di sini</p>
                            </div>
                            <div class="h-cart">
                                <ng-container *ngIf="cartRepo.lines.length > 0; else emptycart">
                                    <div class="carding-cart d-flex" *ngFor="let ct of cartRepo.lines">
                                        <div class="col-3">
                                            <img class="img-cart" uiImageLoader
                                                onErrorSrc="assets/images/no_pic_square.png"
                                                loader="assets/images/no_pic_square.png"
                                                [src]="ct.pic === ''? 'assets/images/no_pic_square.png' : ct.pic"
                                                alt="">
                                            <!-- <div class="category-box">{{ ct.priceCat }}</div> -->
                                        </div>
                                        <div class="col-4">
                                            <p [ngClass]="ct.isPackage ? 'price-category-package' : ''"
                                                class="price-category mb-0">{{ ct.priceCat }}</p>
                                            <p class="product-name text-start">{{ ct.name }}</p>
                                            <p class="product-price mb-0 mx-10 text-start">{{ ct.totalPrice | rupiah }}
                                            </p>
                                        </div>
                                        <div class="col d-grid-content">
                                            <div class="d-flex">
                                                <div class="col d-flex justify-content-center">
                                                    <div [ngClass]="ct.amount === 1? 'btn-plus-minus-disabled' : null"
                                                        (click)="cartRepo.updateQuantityMinus(ct, 1, ct.priceCatId)"
                                                        class="btn-plus-minus d-flex align-items-center justify-content-center"
                                                        mat-button>
                                                        <mat-icon svgIcon="minus"></mat-icon>
                                                    </div>
                                                </div>
                                                <div class="col d-flex align-items-center mx-2">
                                                    <strong class="w-100 text-center">{{ ct.amount }}</strong>
                                                </div>
                                                <div class="col d-flex justify-content-center">
                                                    <div (click)="cartRepo.updateQuantityPlus(ct, 1, ct.priceCatId)"
                                                        class="btn-plus-minus d-flex align-items-center justify-content-center"
                                                        mat-button>
                                                        <mat-icon class="plus-2" svgIcon="plus-2"></mat-icon>
                                                    </div>
                                                </div>
                                            </div>
                                            <p (click)="cartRepo.removeLine(ct.menuId, ct.priceCatId)"
                                                class="text-on-danger mb-0 text-end cursor-pointer">Hapus</p>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-template #emptycart>
                                    <div class="center-empty-cart">
                                        <mat-icon class="icon-empty-cart" svgIcon="empty-cart"></mat-icon>
                                        <p class="text-center text-empty-cart">Yah, Kamu belum punya pesanan</p>
                                    </div>
                                </ng-template>

                            </div>
                        </div>

                        <div class="footer-box-cart">
                            <div class="d-flex justify-content-between mb-2">
                                <p class="id-order mb-0 fw-bold">Total ({{cartRepo.lines.length}})</p>
                                <p class="text-primary mb-0">{{ cartRepo.grandTotal | rupiah }}</p>
                            </div>
                            <div class="box-checkout">
                                <button (click)="save()" mat-button class="btn-checkout">Simpan</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- CONTENT -->
    </mat-drawer-content>
</mat-drawer-container>