<mat-card class="">
    <h1 class="title-card mb-1">Daftar Pesanan</h1>
    <p class="subtitle-card mb-0">Berikut merupakan daftar menu pesanan</p>
    <mat-card-content class="mb-0">
        <div class="d-flex align-items-center main-filter m-5-0">
            <div class="col-4">
                <mat-select [(value)]="tempRepo.findTempSales.option" panelClass="droprdown-position-orderby">
                    <mat-option [value]="item.value" *ngFor="let item of optionType">{{
                        item.key
                        }}</mat-option>
                </mat-select>
            </div>
            <span class="devider-filter"></span>
            <ng-container *ngIf="tempRepo.findTempSales.option !== 'table'; else teableOpt">
                <div class="col">
                    <div class="d-flex align-items-center find-input">
                        <mat-icon (click)="tempRepo.getTempSales()" class="col-2 mx-3 cursor-pointer" svgIcon="search">
                        </mat-icon>
                        <input (keyup)="applyFilter($event)" placeholder="Cari Pesanan" class="col" type="text"
                            [value]="tempRepo.findTempSales.search" mat-input />
                        <mat-icon (click)="clear()" class="col-2 mx-3 cursor-pointer" svgIcon="remove"></mat-icon>
                    </div>
                </div>
            </ng-container>
            <ng-template #teableOpt>
                <div class="col">
                    <mat-select [(value)]="searchTable" class="search-input"
                        (selectionChange)="selectTableFindTempSales()">
                        <mat-option [value]="null" selected>Pilih Meja</mat-option>
                        <mat-option *ngFor="let opt of tableRepo.dataTables" [value]="opt.id">
                            {{ opt.name }} - {{ opt.description }}
                        </mat-option>
                    </mat-select>
                </div>
            </ng-template>
        </div>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions class="row d-flex justify-content-between mb-0 mb-0">
        <p class="text-desc col-2">Filter Waktu</p>
        <div class="col-5 text-end">
            <div class="d-flex justify-content-between">
                <div class="box-time d-flex align-items-center">
                    <!-- <label for="appt">Waktu Awal :</label> -->
                    <input type="time" id="appt" name="appt" [value]="firstTime" (change)="startTime($event.target)"
                        required />
                </div>
                <div class="col d-flex align-items-center justify-content-center">
                    <mat-icon svgIcon="line"></mat-icon>
                </div>
                <div class="box-time d-flex align-items-center">
                    <!-- <label for="appt">Waktu Awal :</label> -->
                    <input type="time" id="appt" name="appt" [value]="lastTime" (change)="endTime($event.target)"
                        required />
                </div>
            </div>
        </div>
        <div class="col">
            <div class="d-flex box-range">
                <mat-date-range-input [formGroup]="rangeDate" [rangePicker]="picker">
                    <input matStartDate formControlName="start" placeholder="Tanggal Awal" #dateStart />
                    <input matEndDate formControlName="end" placeholder="Tanggal Akhir" #dateEnd
                        (dateChange)="findByDate()" />
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </div>
        </div>
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar *ngIf="tempRepo.isLoading" mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>
<div class="container-fluid h-auto list-order-container px-3">
    <div class="row px-2 py-2">
        <div class="list-group-order p-0">
            <!-- LIST DATA AREA IF NOT LOADING -->
            <ng-container *ngIf="!tempRepo.isLoading; else isNotLoad">
                <!-- CARD LIST -->
                <ng-container *ngIf="tempRepo.tempSales.length > 0; else listEmpty">
                    <a [class.is-active]="getActive(temp.id)" class="box-card" aria-current="true"
                        *ngFor="let temp of tempRepo.tempSales; let i = index">
                        <order-card class="w-100" [temp]="temp" [idx]="i" [onselect]="getActive(temp.id)"
                            [isMerge]="tempRepo.isMergeBill" [isChecked]="tempRepo.isExistMerge(temp.id)"
                            (on_input_id_merge)="inmerge($event)" (on_active)="tempRepo.seeDetail(i)"
                            (on_merge)="merge($event)" (on_split)="goToSplitPage($event)"
                            (on_delete)="tempRepo.confirmationCancelDialog($event)">
                        </order-card>
                    </a>
                </ng-container>
                <!-- CARD LIST -->
                <!-- LIST EMPTY -->
                <ng-template #listEmpty>
                    <div class="center-empty-cart">
                        <mat-icon class="icon-empty-cart" svgIcon="empty-data"></mat-icon>
                        <h4 class="text-center fw-bold mb-0">Daftar pesanan kosong</h4>
                        <p class="text-center">
                            Yuk buat pesanan terlebih dahulu
                            <a routerLink="/order" [queryParams]="{ nav: 'shortcut' }">disini</a>
                        </p>
                    </div>
                </ng-template>
                <!-- LIST EMPTY -->
            </ng-container>
            <!-- THERE WILL BE SKLETON HERE -->
            <ng-template #isNotLoad> Loading... </ng-template>
        </div>
    </div>
</div>
<div class="child text-end">
    <button [disabled]="tempRepo.disablePrevList" (click)="tempRepo.prevList()" mat-button color="accent"
        class="button-next-prev">
        <mat-icon>chevron_left</mat-icon>
    </button>
    <strong class="mx-2"> 1 </strong>
    <button [disabled]="tempRepo.disbaleNextList" (click)="tempRepo.nextList()" mat-button color="accent"
        class="button-next-prev">
        <mat-icon>chevron_right</mat-icon>
    </button>
</div>