/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

html {
  background: #e5e5e5;
}

html,
body {
  /* height: 100%; */
  max-width: 1024px;
  max-height: 728;

  /* Centers the class */
  margin-left: auto;
  margin-right: auto;
}
body {
  margin: 0;
  font-family: "Questrial", sans-serif;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
  background: url("assets/svg/pattern/path1.svg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.cursor-pointer {
  cursor: pointer;
}

.image-container {
  height: 100%;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.illustration {
  min-width: 400px !important;
  min-height: 400px !important;
}

.illustration-dialog {
  min-width: 100% !important;
  min-height: 200px !important;
}

/* BUTTON */

.btn-submit {
  /* min-width: 250px !important; */
  width: 100% !important;
  height: 50px;
  background: #045b62;
  color: white;
  border-radius: 50px !important;
}

.btn-confirm {
  background: #045b62;
  color: white;
  min-width: 100px !important;
  margin-right: 10px !important;
}

.btn-cancel {
  background: #e0b91a;
  color: white;
  min-width: 100px !important;
  margin-right: 10px !important;
}

/* ---------------- */

/* MAT ICON */
.mat-form-field-suffix .mat-icon {
  margin-left: 10px;
}
/* MAT ICON */

* {
  font-family: "Questrial", sans-serif;
}

.mat-progress-spinner {
  margin-left: 10px !important;
}

.mat-progress-bar-fill::after {
  background-color: #045b62;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #fff !important;
}

.mat-progress-bar-buffer {
  background-color: #90aea3;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #045b62 !important;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #045b62 !important;
}

.img-title {
  width: 20%;
}

.mat-form-field {
  width: 100% !important;
}

.mat-form-field-wrapper {
  padding-bottom: 0px;
}

.mat-button.mat-button-disabled.mat-button-disabled {
  background: #c2c2c2;
}

/* MAT DIALOG */

.cdk-overlay-pane.panel-dialog-x {
  position: relative !important;
}
.close.mat-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
}

/*  WEB KIT  */

.backdropBackground {
  backdrop-filter: blur(4px);
  -webkit-filter: blur(5px) !important;
  -moz-filter: blur(5px) !important;
  -o-filter: blur(5px) !important;
  -ms-filter: blur(5px) !important;
  filter: blur(5px) !important;
}

::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ffc107;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.btn-option {
  /* timeline */
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 100%;
  height: 100%;
  /* Dark Blue */
  background: #045b62;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  /* Inside auto layout */
  line-height: 0px !important;
  color: white;
}

.btn-unoption {
  /* white */
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.text-custom-general {
  color: #045b62;
}

/* MAT DRAWER SIDENAV */

.mat-drawer-order {
  width: 100%;
  height: 100vh;
}

.mat-drawer {
  width: 10%;
}

.logo-small {
  width: 100%;
  padding: 20px;
}

.search-input {
  padding: 0px;
  background-color: white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.h-inherit {
  height: inherit;
}

.overflow-auto {
  overflow: auto;
}

.sticky {
  background-color: #c0c0c0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.backdrop-numpad {
  background-color: transparent;
}

.panel-numpad {
  min-width: none;
}

.backdrop-custom {
  background-color: transparent;
  min-height: 300px;
  max-width: 350px !important;
}

.panel-custom {
  max-width: 400px !important;
  min-height: 300px;
}

.text-1-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mw-40px {
  width: 40px;
}
