<div class="card-primary">
    <p class="text-title-general">Informasi Pergantian (SHIFT)</p>
    <div class="d-flex">
        <div class="col d-flex">
            <div class="box-panel-success mr-10px">Shift Siang</div>
            <div class="box-panel-uknown cursor-pointer">Shift Malam</div>
        </div>
        <div class="col text-end">
            <mat-slide-toggle [checked]="isActive">{{ isActive ? 'Aktif' : 'Tidak Aktif'}}</mat-slide-toggle>
        </div>
    </div>
    <hr>
    <div class="d-flex">
        <div class="col b-right pr-10px">
            <p class="mb-0 text-nano-title">Area Kasir</p>
            <div class="col-3 d-flex col-4 d-flex align-items-center box-dropdown box-dropdown-auto">
                <mat-select [(value)]="onSubBranchID" [disabled]="isActive" disableOptionCentering
                    panelClass="droprown-position-primary" class="position-inbottom-primary">
                    <mat-option disabled value="area">Area</mat-option>
                    <mat-option *ngFor="let food of listSub" [value]="food.id">
                        {{ food.name }}
                    </mat-option>
                </mat-select>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item align-items-center d-flex px-0 pb-0">
                    <mat-icon svgIcon="clock"></mat-icon>
                    Jam Awal <strong class="ml-5px text-time"> : {{ shift?.startTime?? '-' }}</strong>
                </li>
                <li class="list-group-item align-items-center d-flex px-0 pt-0">
                    <mat-icon svgIcon="clock"></mat-icon>
                    Jam Akhir <strong class="ml-5px text-time"> : {{ shift?.endTime?? '-' }}</strong>
                </li>
            </ul>
        </div>
        <div class="col pl-10px">
            <p class="mb-0 text-subtitle-general fw-bold">Total Terjual</p>
            <p class="font-total-sale mb-0">0</p>
            <div class="row justify-content-end">
                <div [ngClass]="isRefresh? 'load' : 'button-rounded'" class="cursor-pointer  mr-10px"
                    (click)="refreshShift()">
                    <mat-icon *ngIf="!isRefresh" svgIcon="refresh"></mat-icon>
                    <div class="d-flex">
                        <span class="load-span" *ngIf="isRefresh">Tunggu...</span>
                        <mat-spinner *ngIf="isRefresh" [diameter]="20"></mat-spinner>
                    </div>
                </div>
                <div class="cursor-pointer button-rounded mr-10px">
                    <mat-icon svgIcon="setting"></mat-icon>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- <div>{{ shift?.id }}</div>


<div class="container">
    <div class="row mb-2">
        <div class="col-md-4">
            <mat-form-field appearance="outline">
                <mat-label>Area Kasir</mat-label>
                <mat-select [(ngModel)]="onSubBranchID" [disabled]="isActive">
                    <mat-option *ngFor="let food of listSub" [value]="food.id">
                        {{ food.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-4 offset-md-4">
            <div class="switch" (click)="changeIsAcive()">
                <input [(ngModel)]="isActive" [checked]="isActive" type="checkbox">
                <label [ngClass]="isActive? 'color-1' : 'color-0'"><span></span></label>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col">
            <div class="card-body">

                <div id="card-basic-plan" class="active">
                    <div class="card-plans">
                        <span class="plan-tag">Shift {{ shift?.type === 'SIANG'? 'Siang' : 'Malam' }}</span>
                        <div class="row justify-content-between">
                            <h3 class="col plan-title">Terjual</h3>
                            <h3 class="col plan-price">{{ shift?.totalOrder?? 0 }}</h3>
                        </div>

                        <div class="card-content">
                            <ng-container *ngIf="shift !== undefined; else textInfo">
                                <p *ngIf="shift?.status === 'OPEN'">Anda berada pada jadwal status <strong>{{
                                        shift!.type
                                        === 'SIANG'? 'Siang' : 'Malam'
                                        }}</strong> dengan jumlah terjual <strong>{{ shift!.totalOrder?? 0 }}</strong>
                                    Pesanan</p>
                                <p *ngIf="shift?.status === 'CLOSE'">Jadwal terakhir ada pada <strong>{{ shift!.type ===
                                        'SIANG'? 'Siang' : 'Malam'
                                        }}</strong> dengan jumlah terjual <strong>{{ shift!.totalOrder?? 0 }}</strong>
                                    Pesanan</p>
                            </ng-container>
                            <ng-template #textInfo>
                                <p>Anda belum ada jadwal shift, Silahkan masuk shift.</p>
                            </ng-template>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col">
            <div class="row">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Jam Awal <strong>{{ shift?.startTime }}</strong>
                    </li>
                    <li class="list-group-item">
                        Jam Akhir <strong>{{ shift?.endTime }}</strong>
                    </li>
                </ul>
            </div>

            <div class="row justify-content-end">
                <button [disabled]="isRefresh" [ngClass]="isRefresh? 'load' : ''" (click)="refreshShift()" mat-mini-fab
                    aria-label="Example icon button with a home icon">
                    <mat-icon *ngIf="!isRefresh">refresh</mat-icon>
                    <div class="d-flex">
                        <span *ngIf="isRefresh">Tunggu...</span>
                        <mat-spinner *ngIf="isRefresh" [diameter]="20"></mat-spinner>
                    </div>
                </button>
                <button mat-mini-fab aria-label="Example icon button with a home icon">
                    <mat-icon>settings</mat-icon>
                </button>

            </div>
        </div>
    </div>

</div> -->